In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

TABLAS PARA NUESTRO DATACLEANING Y PREPROCESSING

## Tabla de VENTAS

* Es la **TABLA DE HECHOS**
* Historico de ventas con:
    * pk_sale: ID de venta
    * cid: ID de cliente
    * month_sale: mes venta
    * product_ID: ID producto
    * net_margin: margen neto estimado generado en la venta

In [ ]:
ventas=pd.read_csv('/content/drive/MyDrive/TFM 25_03_23/Datasets/sales.csv', index_col=0)

In [ ]:
ventas.head()

   pk_sale    cid  month_sale  product_ID  net_margin
0     6666  33620  2018-05-01        2335       952.9
1     6667  35063  2018-06-01        2335      1625.2
2     6668  37299  2018-02-01        2335      1279.7
3     6669  39997  2018-02-01        2335      1511.9
4     6670  44012  2018-02-01        2335      1680.3

CAMBIO DE FORMATO DE COLUMNA month_sale PARA QUITAR EL DÍA Y UNIFICAR FORMATOS

In [ ]:
# Cambio de la columna a formato string
ventas['month_sale']=ventas['month_sale'].astype(str)

In [ ]:
# Borrado de los últimos tres caracteres del campo month_sale
ventas['month_sale']=ventas['month_sale'].str[:-3]

In [ ]:
ventas.head()

   pk_sale    cid month_sale  product_ID  net_margin
0     6666  33620    2018-05        2335       952.9
1     6667  35063    2018-06        2335      1625.2
2     6668  37299    2018-02        2335      1279.7
3     6669  39997    2018-02        2335      1511.9
4     6670  44012    2018-02        2335      1680.3

In [ ]:
ventas[ventas['cid']==35063]

        pk_sale    cid month_sale  product_ID  net_margin
1          6667  35063    2018-06        2335      1625.2
123354   130020  35063    2018-05        4657        71.1

In [ ]:
print('Ventas totales: {:,}'.format(ventas.shape[0]))
print('Historico de',ventas.month_sale.min(),'a',ventas.month_sale.max())

Ventas totales: 240,773
Historico de 2018-02 a 2019-05

# Tabla de DICCIONARIO DE PRODUCTOS

Tabla diccionario del ID producto. Incluye:
* Nombres de productos
* Familia de productos

In [ ]:
dicc_productos = pd.read_csv('/content/drive/MyDrive/TFM 25_03_23/Datasets/product_ID.csv',index_col=0)
dicc_productos.sort_values('family_product')

    product_ID        product_desc family_product
0         4657           em_acount        account
3         2234             payroll        account
4         2235     payroll_account        account
5         8871         emc_account        account
7         2335  short_term_deposit     investment
8         2336   long_term_deposit     investment
9         2673          securities     investment
10        1119               funds     investment
11        9001               loans           loan
12        4033            mortgage           loan
1         3819          debit_card   payment_card
6         2312         credit_card   payment_card
2         1364        pension_plan   pension_plan

# Tabla de PRODUCTOS

Tabla de productos por cliente y fecha
 Incluye:
* Nombres de productos.
* Clientes y fecha de adquisición.

In [ ]:
productos = pd.read_csv('/content/drive/MyDrive/TFM 25_03_23/Datasets/products.csv', index_col=0)
productos.head()

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [ ]:
# Cambiamos los nombres de las columnas en productos para que coincidan con ventas y así poder hacer el join.
productos.rename(columns={'pk_partition':'month_sale', 'pk_cid':'cid'}, inplace=True)

In [ ]:
productos.head()

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

## Tabla ACTIVIDAD COMERCIAL

Tabla de atributos de cliente. 
* Incluye variables de actividad comercial: segmento del cliente, nivel de actividad, antiguedad y canal de captacion.
* Es una **TABLA PARTICIONADA**, incluye foto de 17 meses (Ene 2018- May 2019). Cada particion incluye toda la base de clientes.

In [ ]:
actividad_com = pd.read_csv('/content/drive/MyDrive/TFM 25_03_23/Datasets/commercial_activity.csv', index_col=0)
actividad_com.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO

In [ ]:
# Cambio de los nombres de las columnas en productos para que coincidan con ventas y así poder hacer el join.
actividad_com.rename(columns={'pk_partition':'month_sale', 'pk_cid':'cid'}, inplace=True)

In [ ]:
actividad_com.head()

,cid,month_sale,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO

## Tabla datos SOCIODEMOGRAFICOS

Tabla de atributos del cliente.
* Incluye info de CLIENTE: pais, edad, salario
* Particiones 17 meses (Ene 2018- May 2019). Cada particion incluye la foto de de la info del cliente ese mes especifico. 
* Incluye algunos nulos (<1% en la mayoria, 33% en salario)

In [ ]:
sociodemografica = pd.read_csv('/content/drive/MyDrive/TFM 25_03_23/Datasets/sociodemographic.csv', index_col=0)
sociodemografica.head()

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,1375586,2018-01,ES,29.0,H,35,N,87218.10
1,1050611,2018-01,ES,13.0,V,23,N,35548.74
2,1050612,2018-01,ES,13.0,V,23,N,122179.11
3,1050613,2018-01,ES,50.0,H,22,N,119775.54
4,1050614,2018-01,ES,50.0,V,23,N,NaN

In [ ]:
# Cambio de los nombres de las columnas en sociodemografica para que coincidan con ventas y así poder hacer el join.
sociodemografica.rename(columns={'pk_partition':'month_sale', 'pk_cid':'cid'}, inplace=True)

In [ ]:
sociodemografica.head()

       cid month_sale country_id  region_code gender  age deceased     salary
0  1375586    2018-01         ES         29.0      H   35        N   87218.10
1  1050611    2018-01         ES         13.0      V   23        N   35548.74
2  1050612    2018-01         ES         13.0      V   23        N  122179.11
3  1050613    2018-01         ES         50.0      H   22        N  119775.54
4  1050614    2018-01         ES         50.0      V   23        N        NaN

## Tabla de TENENCIA DE PRODUCTOS

Tabla de atributos del cliente
* Incluye info de TENENCIA de productos contratados. 
* **IMPORTANTISIMO: no confundir con tabla de ventas. Que un cliente TENGA un producto en el mes 2018-05 no significa que lo haya comprado ese mes, sino que ya tiene contratado ese producto.**
* Es una **TABLA PARTICIONADA**, incluye foto de 17 meses (Ene 2018- May 2019). Cada particion incluye toda la base de clientes.

In [ ]:
# Esta tabla que comentó Alejandro no la tocaremos, esta información también la tenemos en la tabla products
tenencia_productos = pd.read_csv('/content/drive/MyDrive/TFM 25_03_23/Datasets/products.csv', index_col=0)
tenencia_productos.head()

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

# Funcion merge() para cruce de tablas en Python

MERGE1 LEFT JOIN de la tabla ventas con actividad_com por cid y month_sale

In [ ]:
ventas.head()

   pk_sale    cid month_sale  product_ID  net_margin
0     6666  33620    2018-05        2335       952.9
1     6667  35063    2018-06        2335      1625.2
2     6668  37299    2018-02        2335      1279.7
3     6669  39997    2018-02        2335      1511.9
4     6670  44012    2018-02        2335      1680.3

In [ ]:
actividad_com.head()

,cid,month_sale,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO

In [ ]:
# A nuestro join le pondremos la extensión clean.
actividad_com_clean=pd.merge(left=ventas, right=actividad_com, how='left', on=['cid','month_sale'])

In [ ]:
actividad_com_clean.head()

,pk_sale,cid,month_sale,product_ID,net_margin,entry_date,entry_channel,active_customer,segment
0,6666,33620,2018-05,2335,952.9,2018-04,KHK,1.0,02 - PARTICULARES
1,6667,35063,2018-06,2335,1625.2,2018-04,KHN,1.0,01 - TOP
2,6668,37299,2018-02,2335,1279.7,2018-01,KHK,1.0,01 - TOP
3,6669,39997,2018-02,2335,1511.9,2018-01,KAT,1.0,02 - PARTICULARES
4,6670,44012,2018-02,2335,1680.3,2018-01,KHL,1.0,02 - PARTICULARES

MERGE2 LEFT JOIN de la tabla ventas con productos por cid y month_sale

EN LA TABLA PRODUCTOS TENEMOS QUE HACER EL MISMO CAMBIO QUE EN LA TABLA VENTAS POR EL FORMATO DE LA FECHA(month_sale)

In [ ]:
# Cambio de formato month_sale de la tabla productos a string
productos['month_sale']=productos['month_sale'].astype(str)

In [ ]:
# Borrado de los últimos tres caracteres del campo month_sale
productos['month_sale']=productos['month_sale'].str[:-3]

In [ ]:
productos.head()

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1050611,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,1050612,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,1050613,2018-01,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,1050614,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [ ]:
# A nuestro join le pondremos la extensión clean.
products_clean=pd.merge(left=ventas, right=productos, how='left', on=['cid','month_sale'])

In [ ]:
products_clean.head()

,pk_sale,cid,month_sale,product_ID,net_margin,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,6666,33620,2018-05,2335,952.9,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,6667,35063,2018-06,2335,1625.2,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,6668,37299,2018-02,2335,1279.7,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,6669,39997,2018-02,2335,1511.9,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,6670,44012,2018-02,2335,1680.3,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

MERGE3 LEFT JOIN de la tabla ventas con la tabla sociodemográfica por cid y month_sale

In [ ]:
sociodemografica.head()

       cid month_sale country_id  region_code gender  age deceased     salary
0  1375586    2018-01         ES         29.0      H   35        N   87218.10
1  1050611    2018-01         ES         13.0      V   23        N   35548.74
2  1050612    2018-01         ES         13.0      V   23        N  122179.11
3  1050613    2018-01         ES         50.0      H   22        N  119775.54
4  1050614    2018-01         ES         50.0      V   23        N        NaN

In [ ]:
# A nuestro join le pondremos la extensión clean.
sociodemo_clean=pd.merge(left=ventas, right=sociodemografica, how='left', on=['cid','month_sale'])

In [ ]:
sociodemo_clean.head()

,pk_sale,cid,month_sale,product_ID,net_margin,country_id,region_code,gender,age,deceased,salary
0,6666,33620,2018-05,2335,952.9,ES,28.0,H,50,N,138618.57
1,6667,35063,2018-06,2335,1625.2,ES,28.0,H,62,N,125530.41
2,6668,37299,2018-02,2335,1279.7,ES,30.0,V,54,N,NaN
3,6669,39997,2018-02,2335,1511.9,ES,41.0,V,62,N,201575.01
4,6670,44012,2018-02,2335,1680.3,ES,28.0,V,42,N,97601.04

In [ ]:
dicc_productos.head()

   product_ID     product_desc family_product
0        4657        em_acount        account
1        3819       debit_card   payment_card
2        1364     pension_plan   pension_plan
3        2234          payroll        account
4        2235  payroll_account        account

AHORA MISMO CONTAMOS CON CUATRO TABLAS


*   actividad_com_clean
*   products_clean
*   sociodemo_clean
*   dicc_productos

# NUEVAS TABLAS, DATA CLEANING Y PREPROCESSING.

In [ ]:
# Merge de actividad_com_clean y sociodemo_clean , este movimiento lo hacemos para crear nuestra tabla de hechos.
ventas_new= pd.merge(left=actividad_com_clean, right=sociodemo_clean, how='left', on=["pk_sale","cid","month_sale",'product_ID', 'net_margin'])

In [ ]:
ventas_new.head(1)

,pk_sale,cid,month_sale,product_ID,net_margin,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,deceased,salary
0,6666,33620,2018-05,2335,952.9,2018-04,KHK,1.0,02 - PARTICULARES,ES,28.0,H,50,N,138618.57

In [ ]:
#Quitamos algunas columnas para dejar solo las pk y las fk
ventas_new.drop(["region_code", "salary", "gender", "age", "deceased","active_customer", "segment", "entry_date", "entry_channel"], axis=1, inplace=True)

TABLA DE HECHOS

In [ ]:
#Nuestra tabla de hechos.
ventas_new.head()

   pk_sale    cid month_sale  product_ID  net_margin country_id
0     6666  33620    2018-05        2335       952.9         ES
1     6667  35063    2018-06        2335      1625.2         ES
2     6668  37299    2018-02        2335      1279.7         ES
3     6669  39997    2018-02        2335      1511.9         ES
4     6670  44012    2018-02        2335      1680.3         ES

In [ ]:
ventas_new[ventas_new["month_sale"]==2018-10].head(20)

Empty DataFrame
Columns: [pk_sale, cid, month_sale, product_id, net_margin, country_id]
Index: []

In [ ]:
#Ponemos los nombres de nuestras columnas en minúscula.
ventas_new.columns = ventas_new.columns.str.lower()

In [ ]:
ventas_new[ventas_new["cid"]==1211362].head()

       pk_sale      cid month_sale  product_id  net_margin country_id
188       6854  1211362    2018-03        2335      1312.7         ES
7445     14111  1211362    2018-03        2336       930.7         ES
13267    19933  1211362    2018-04        2312        50.9         ES
21688    28354  1211362    2018-02        2234        55.5         ES

In [ ]:
#Comprobamos que no tenemos nulos
def column_report(df_x):
    a = pd.DataFrame(df_x.dtypes, columns={'dtype'})
    b = pd.DataFrame(df_x.isna().sum(), columns={'nulls'})
    b['%nulls'] = round(100*b['nulls']/ df_x.shape[0],2)  
    c = df_x.describe(include='all').transpose()
    return a.join(b).join(c).sort_values('dtype')

column_report(ventas_new)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
pk_sale,int64,0,0.0,240773.0,NaN,NaN,NaN,127052.0,69505.322519,6666.0,66859.0,127052.0,187245.0,247438.0
cid,int64,0,0.0,240773.0,NaN,NaN,NaN,1363933.721381,175172.069037,15891.0,1301012.0,1409253.0,1475320.0,1553571.0
product_id,int64,0,0.0,240773.0,NaN,NaN,NaN,3945.408202,1632.8217,1119.0,2312.0,4657.0,4657.0,9001.0
net_margin,float64,0,0.0,240773.0,NaN,NaN,NaN,606.878164,1735.806089,25.0,61.4,69.1,79.2,18466.4
month_sale,object,0,0.0,240773,16,2018-10,27693,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_id,object,0,0.0,240773,23,ES,240695,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TABLAS DE DIMENSIONES

In [ ]:
#Esta es nuestra primera tabla de dimensiones pero la tenemos que transformar.
products_clean.head()

,pk_sale,cid,month_sale,product_ID,net_margin,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,6666,33620,2018-05,2335,952.9,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,6667,35063,2018-06,2335,1625.2,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,6668,37299,2018-02,2335,1279.7,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,6669,39997,2018-02,2335,1511.9,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,6670,44012,2018-02,2335,1680.3,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [ ]:
products_clean.shape

(240773, 20)

In [ ]:
#Comprobamos que la pk cid no es unica en esta tabla
products_clean.cid.nunique()

152754

In [ ]:
print(products_clean.duplicated().sum(), 'filas duplicadas')

0 filas duplicadas

In [ ]:
#Con esto visualizamos los duplicados en CID, ¡OJO NO BORRAMOS DUPLICADOS!de momento, por que necesitamos analizar las fechas de tenencia de productos de cada cliente
products_clean[products_clean.cid.duplicated()].sort_values(by="cid").head()

,pk_sale,cid,month_sale,product_ID,net_margin,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
123340,130006,16502,2018-10,4657,64.3,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
15946,22612,17970,2018-07,2234,49.5,0,0,0,0,0,0,0,0,1.0,1.0,1,1,1,0,0
6513,13179,17980,2018-05,2336,1336.6,0,0,0,1,0,1,0,0,0.0,0.0,0,0,0,0,0
84499,91165,21719,2018-05,3819,54.8,0,0,0,0,0,0,0,0,0.0,0.0,1,0,1,0,0
123341,130007,21719,2018-12,4657,60.5,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,1

In [ ]:
#Prueba que datos obtenidos no son los correctos de cid en base a month_sale( no es la ultima fecha de tenencia de productos, ni la unica con respecto a un cliente)
products_clean[products_clean["cid"]==1211362].head()

,pk_sale,cid,month_sale,product_ID,net_margin,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
188,6854,1211362,2018-03,2335,1312.7,1,0,0,0,0,1,0,0,0.0,0.0,1,0,1,0,0
7445,14111,1211362,2018-03,2336,930.7,1,0,0,0,0,1,0,0,0.0,0.0,1,0,1,0,0
13267,19933,1211362,2018-04,2312,50.9,1,0,0,0,0,1,0,1,1.0,1.0,1,0,1,0,0
21688,28354,1211362,2018-02,2234,55.5,0,0,0,0,0,0,0,0,1.0,1.0,1,0,1,0,0

In [ ]:
#Se debe obtener el month_sale maximo de todas las fechas del cliente, asi tenemos todas las tenencias a dia de hoy
tabla=products_clean[["cid","month_sale"]].groupby("cid", as_index=False).max().sort_values(by="cid")

In [ ]:
 # Creamos asi una tabla con los maximos meses de cada cliente, que es donde se tienen todos los productos de cada cliente
 tabla.head()

     cid month_sale
0  15891    2018-07
1  16203    2019-01
2  16502    2019-01
3  17457    2018-09
4  17970    2019-02

In [ ]:
tabla.cid.nunique()

152754

In [ ]:
len(tabla.cid.unique()) == tabla.shape[0]

True

In [ ]:
#Se hace merge entre Tabla y products_clean para cruzar los datos filtrados de mes maximo en el dataframe products_clean
products_clean= pd.merge(left=tabla, right=products_clean, on=['cid','month_sale'])

In [ ]:
products_clean.head()

,cid,month_sale,pk_sale,product_ID,net_margin,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,15891,2018-07,130004,4657,66.4,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,16203,2019-01,130005,4657,96.7,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,16502,2019-01,78841,8871,68.6,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,1
3,17457,2018-09,91164,3819,56.0,0,0,0,0,0,1,0,0,0.0,0.0,0,0,1,0,1
4,17970,2019-02,12022,2673,830.3,0,0,0,0,1,0,0,0,0.0,1.0,1,1,1,0,0

In [ ]:
products_clean.cid.nunique()

152754

In [ ]:
#se comprueba que la pk de esta tabla no es unica
products_clean.shape

(176582, 20)

In [ ]:
print('Filas duplicadas: ',products_clean.duplicated().sum())

Filas duplicadas:  0

In [ ]:
#Con esto podemos ver que algun cliente desde el inicio de su historico sigue con los mismo productos, sigue con la misma foto todo el tiempo.
products_clean[products_clean["cid"]==41264].sort_values(by="cid")

,cid,month_sale,pk_sale,product_ID,net_margin,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
48,41264,2019-04,41366,1364,8696.3,0,0,0,0,0,0,0,0,0.0,1.0,1,0,1,0,0
49,41264,2019-04,60735,2235,81.9,0,0,0,0,0,0,0,0,0.0,1.0,1,0,1,0,0
50,41264,2019-04,91173,3819,54.0,0,0,0,0,0,0,0,0,0.0,1.0,1,0,1,0,0

In [ ]:
#Borramos los duplicados en una columna en concreto, se dejan solo las primeras fechas de cada duplicado
products_clean.drop_duplicates(['cid'],keep= "first", inplace=True)

In [ ]:
len(products_clean.cid.unique()) == products_clean.shape[0]

True

In [ ]:
#Eliminamos algunas columnas que ya tenemos en nuestra tabla de hechos.
products_clean.drop(['pk_sale','product_ID','net_margin'],axis=1,inplace=True)

In [ ]:
products_clean.head()

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,15891,2018-07,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,16203,2019-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,16502,2019-01,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,1
3,17457,2018-09,0,0,0,0,0,1,0,0,0.0,0.0,0,0,1,0,1
4,17970,2019-02,0,0,0,0,1,0,0,0,0.0,1.0,1,1,1,0,0

In [ ]:
#Comprobamos si esta todo correcto con respecto a un cliente
products_clean[products_clean["cid"]==41264].sort_values(by="cid")

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
48,41264,2019-04,0,0,0,0,0,0,0,0,0.0,1.0,1,0,1,0,0

In [ ]:
#Comprobamos si esta todo correcto con respecto a un cliente, para ver si ha funcionado lo de mes maximo por cliente
products_clean[products_clean["cid"]==1211362].sort_values(by="cid")

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
27918,1211362,2018-04,1,0,0,0,0,1,0,1,1.0,1.0,1,0,1,0,0

PRIMERA TABLA DE DIMENSIONES

In [ ]:
#PRIMERA TABLA DE DIMENSIONES
products_clean.head()

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,15891,2018-07,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,16203,2019-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,16502,2019-01,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,1
3,17457,2018-09,0,0,0,0,0,1,0,0,0.0,0.0,0,0,1,0,1
4,17970,2019-02,0,0,0,0,1,0,0,0,0.0,1.0,1,1,1,0,0

In [ ]:
column_report(products_clean)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
cid,int64,0,0.0,152754.0,NaN,NaN,NaN,1376954.423138,170235.594932,15891.0,1336403.0,1426346.0,1481047.75,1553571.0
debit_card,int64,0,0.0,152754.0,NaN,NaN,NaN,0.290408,0.453952,0.0,0.0,0.0,1.0,1.0
emc_account,int64,0,0.0,152754.0,NaN,NaN,NaN,0.110799,0.313884,0.0,0.0,0.0,0.0,1.0
payroll_account,int64,0,0.0,152754.0,NaN,NaN,NaN,0.15248,0.359487,0.0,0.0,0.0,0.0,1.0
credit_card,int64,0,0.0,152754.0,NaN,NaN,NaN,0.037806,0.190727,0.0,0.0,0.0,0.0,1.0
em_account_p,int64,0,0.0,152754.0,NaN,NaN,NaN,0.000007,0.002559,0.0,0.0,0.0,0.0,1.0
long_term_deposit,int64,0,0.0,152754.0,NaN,NaN,NaN,0.035488,0.185011,0.0,0.0,0.0,0.0,1.0
em_account_pp,int64,0,0.0,152754.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
funds,int64,0,0.0,152754.0,NaN,NaN,NaN,0.007293,0.085086,0.0,0.0,0.0,0.0,1.0
mortgage,int64,0,0.0,152754.0,NaN,NaN,NaN,0.000098,0.009909,0.0,0.0,0.0,0.0,1.0
loans,int64,0,0.0,152754.0,NaN,NaN,NaN,0.000164,0.012792,0.0,0.0,0.0,0.0,1.0
short_term_deposit,int64,0,0.0,152754.0,NaN,NaN,NaN,0.011005,0.104324,0.0,0.0,0.0,0.0,1.0
securities,int64,0,0.0,152754.0,NaN,NaN,NaN,0.009375,0.096368,0.0,0.0,0.0,0.0,1.0
em_acount,int64,0,0.0,152754.0,NaN,NaN,NaN,0.809629,0.392595,0.0,1.0,1.0,1.0,1.0
payroll,float64,1,0.0,152753.0,NaN,NaN,NaN,0.125549,0.331342,0.0,0.0,0.0,0.0,1.0
pension_plan,float64,1,0.0,152753.0,NaN,NaN,NaN,0.130884,0.337275,0.0,0.0,0.0,0.0,1.0
month_sale,object,0,0.0,152754,16,2018-10,21062,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Rellenamos los nulls
products_clean.payroll.fillna(0,inplace=True)
products_clean.pension_plan.fillna(0,inplace=True)

In [ ]:
#Reemplazamos floats por int en las columnas payroll y pension plan
products_clean['payroll'] = products_clean['payroll'].astype(int)
products_clean['pension_plan'] = products_clean['pension_plan'].astype(int)

In [ ]:
products_clean.head()

,cid,month_sale,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,15891,2018-07,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,16203,2019-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,16502,2019-01,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,17457,2018-09,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
4,17970,2019-02,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0

In [ ]:
products_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152754 entries, 0 to 176581
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cid                 152754 non-null  int64
 1   month_sale          152754 non-null  object
 2   short_term_deposit  152754 non-null  int64
 3   loans               152754 non-null  int64
 4   mortgage            152754 non-null  int64
 5   funds               152754 non-null  int64
 6   securities          152754 non-null  int64
 7   long_term_deposit   152754 non-null  int64
 8   em_account_pp       152754 non-null  int64
 9   credit_card         152754 non-null  int64
 10  payroll             152754 non-null  int64
 11  pension_plan        152754 non-null  int64
 12  payroll_account     152754 non-null  int64
 13  emc_account         152754 non-null  int64
 14  debit_card          152754 non-null  int64
 15  em_account_p        152754 non-null  int64
 16  em_acount           152754 non-null  int64
dtypes: int64(16), object(1)
memory usage: 21.0+ MB

TRANSFORMACION Y DATACLEANING de sociodemo_clean y actividad_com_clean para generar nuestra segunda tabla de dimensiones sociodemo_actividad

In [ ]:
# Trabajamos ahora con nuestra tabla sociodemo_clean
sociodemo_clean.head(5)

,pk_sale,cid,month_sale,product_ID,net_margin,country_id,region_code,gender,age,deceased,salary
0,6666,33620,2018-05,2335,952.9,ES,28.0,H,50,N,138618.57
1,6667,35063,2018-06,2335,1625.2,ES,28.0,H,62,N,125530.41
2,6668,37299,2018-02,2335,1279.7,ES,30.0,V,54,N,NaN
3,6669,39997,2018-02,2335,1511.9,ES,41.0,V,62,N,201575.01
4,6670,44012,2018-02,2335,1680.3,ES,28.0,V,42,N,97601.04

In [ ]:
#Decidimos quitar estas filas, las tres primeras ya las tenemos en la tabla de hechos y las dos últimas consideramos que no aportan valor a nuestro estudio.
sociodemo_clean.drop(['pk_sale', 'product_ID', 'net_margin', 'region_code', 'salary' ],axis=1,inplace=True)

In [ ]:
sociodemo_clean.head()

     cid month_sale country_id gender  age deceased
0  33620    2018-05         ES      H   50        N
1  35063    2018-06         ES      H   62        N
2  37299    2018-02         ES      V   54        N
3  39997    2018-02         ES      V   62        N
4  44012    2018-02         ES      V   42        N

In [ ]:
sociodemo_clean.shape

(240773, 6)

In [ ]:
sociodemo_clean.cid.nunique()

152754

In [ ]:
len(sociodemo_clean.cid.unique()) == sociodemo_clean.shape[0]

False

In [ ]:
#Borramos los en la columna cliente, porque nos interesa dejar a cid como fk y debe ser única.
sociodemo_clean.drop_duplicates(['cid'], keep = 'last', inplace=True)

In [ ]:
print('Filas duplicadas: ',sociodemo_clean.duplicated().sum())

Filas duplicadas:  0

In [ ]:
sociodemo_clean.shape

(152754, 6)

In [ ]:
#Ahora sí se cumple el criterio de único.
len(sociodemo_clean.cid.unique()) == sociodemo_clean.shape[0]

True

In [ ]:

sociodemo_clean.head()

       cid month_sale country_id gender  age deceased
4    44012    2018-02         ES      V   42        N
18  221716    2018-10         ES      H   41        N
22  245679    2018-06         ES      H   66        N
25  272864    2018-06         ES      H   50        N
34  336613    2018-03         ES      V   32        N

In [ ]:
#Transformamos a minusculas los nombres de las columnas
sociodemo_clean.columns = sociodemo_clean.columns.str.lower()

In [ ]:
column_report(sociodemo_clean)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
cid,int64,0,0.0,152754.0,NaN,NaN,NaN,1376954.423138,170235.594932,15891.0,1336403.0,1426346.0,1481047.75,1553571.0
age,int64,0,0.0,152754.0,NaN,NaN,NaN,32.024981,13.486156,2.0,21.0,28.0,39.0,102.0
month_sale,object,0,0.0,152754,16,2018-10,21442,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_id,object,0,0.0,152754,23,ES,152708,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,object,2,0.0,152752,2,V,79722,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deceased,object,0,0.0,152754,2,N,152736,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Reemplazamos el nulo de gender por la moda "V"
sociodemo_clean.gender.fillna('V',inplace=True)

In [ ]:

actividad_com_clean.sort_values(by="cid").head()

,pk_sale,cid,month_sale,product_ID,net_margin,entry_date,entry_channel,active_customer,segment
123338,130004,15891,2018-07,4657,66.4,2018-07,KAT,1.0,NaN
123339,130005,16203,2019-01,4657,96.7,2018-12,KAT,1.0,02 - PARTICULARES
123340,130006,16502,2018-10,4657,64.3,2018-09,KHN,1.0,02 - PARTICULARES
72175,78841,16502,2019-01,8871,68.6,2018-09,KHN,1.0,02 - PARTICULARES
84498,91164,17457,2018-09,3819,56.0,2017-09,KAT,1.0,02 - PARTICULARES

In [ ]:
#Borramos columnas que ya tenemos.
actividad_com_clean.drop(["pk_sale","month_sale", "product_ID", 'net_margin'],axis=1,inplace=True)

In [ ]:
actividad_com_clean.head()

     cid entry_date entry_channel  active_customer            segment
0  33620    2018-04           KHK              1.0  02 - PARTICULARES
1  35063    2018-04           KHN              1.0           01 - TOP
2  37299    2018-01           KHK              1.0           01 - TOP
3  39997    2018-01           KAT              1.0  02 - PARTICULARES
4  44012    2018-01           KHL              1.0  02 - PARTICULARES

In [ ]:
actividad_com_clean.shape

(240773, 5)

In [ ]:
actividad_com_clean.cid.nunique()

152754

In [ ]:
actividad_com_clean.drop_duplicates(['cid'], inplace=True)

In [ ]:
actividad_com_clean.head()

     cid entry_date entry_channel  active_customer            segment
0  33620    2018-04           KHK              1.0  02 - PARTICULARES
1  35063    2018-04           KHN              1.0           01 - TOP
2  37299    2018-01           KHK              1.0           01 - TOP
3  39997    2018-01           KAT              1.0  02 - PARTICULARES
4  44012    2018-01           KHL              1.0  02 - PARTICULARES

In [ ]:
actividad_com_clean.shape

(152754, 5)

In [ ]:
actividad_com_clean.cid.nunique()

152754

In [ ]:
#Aquí limpiamos el campo segment y quitamos los números y el guión.
actividad_com_clean['segment'] = actividad_com_clean['segment'].str.replace("01", "")
actividad_com_clean['segment'] = actividad_com_clean['segment'].str.replace("02", "")
actividad_com_clean['segment'] = actividad_com_clean['segment'].str.replace("03", "")
actividad_com_clean['segment'] = actividad_com_clean['segment'].str.replace("-", "")

In [ ]:
actividad_com_clean.head()

     cid entry_date entry_channel  active_customer         segment
0  33620    2018-04           KHK              1.0    PARTICULARES
1  35063    2018-04           KHN              1.0             TOP
2  37299    2018-01           KHK              1.0             TOP
3  39997    2018-01           KAT              1.0    PARTICULARES
4  44012    2018-01           KHL              1.0    PARTICULARES

In [ ]:
#Vemos los nulos que tenemos.
column_report(actividad_com_clean)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
cid,int64,0,0.00,152754.0,NaN,NaN,NaN,1376954.423138,170235.594932,15891.0,1336403.0,1426346.0,1481047.75,1553571.0
active_customer,float64,0,0.00,152754.0,NaN,NaN,NaN,0.714371,0.451715,0.0,0.0,1.0,1.0,1.0
entry_date,object,0,0.00,152754,53,2018-09,18818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entry_channel,object,63665,41.68,89089,45,KFC,15783,NaN,NaN,NaN,NaN,NaN,NaN,NaN
segment,object,63919,41.84,88835,3,PARTICULARES,55231,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
actividad_com_clean.segment.value_counts()

  PARTICULARES     55231
  UNIVERSITARIO    28513
  TOP               5091
Name: segment, dtype: int64

In [ ]:
# Reemplazamos nulos por 'Unknown' en  entry_channel y  por la moda en segment, estos representan la tercera parte de los datos 32.77 y 32.92% respectivamente.
actividad_com_clean.entry_channel.fillna('UNKNOW',inplace=True)
actividad_com_clean.segment.fillna('PARTICULARES',inplace=True)

In [ ]:
actividad_com_clean.tail()

            cid entry_date entry_channel  active_customer       segment
240768  1553456    2019-05        UNKNOW              1.0  PARTICULARES
240769  1553541    2019-05        UNKNOW              1.0  PARTICULARES
240770  1553559    2019-05        UNKNOW              1.0  PARTICULARES
240771  1553565    2019-05        UNKNOW              0.0  PARTICULARES
240772  1553571    2019-05        UNKNOW              1.0  PARTICULARES

In [ ]:
actividad_com_clean['segment'] = actividad_com_clean['segment'].str.strip()

In [ ]:
#Reemplazamos floats por int en la columna active_customer
actividad_com_clean['active_customer'] = actividad_com_clean['active_customer'].astype(int)

In [ ]:
#Comprobamos carencia de nulos en nuestra tabla.
column_report(actividad_com_clean)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
cid,int64,0,0.0,152754.0,NaN,NaN,NaN,1376954.423138,170235.594932,15891.0,1336403.0,1426346.0,1481047.75,1553571.0
active_customer,int64,0,0.0,152754.0,NaN,NaN,NaN,0.714371,0.451715,0.0,0.0,1.0,1.0,1.0
entry_date,object,0,0.0,152754,53,2018-09,18818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entry_channel,object,0,0.0,152754,46,UNKNOW,63665,NaN,NaN,NaN,NaN,NaN,NaN,NaN
segment,object,0,0.0,152754,3,PARTICULARES,119150,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
actividad_com_clean.head()

     cid entry_date entry_channel  active_customer       segment
0  33620    2018-04           KHK                1  PARTICULARES
1  35063    2018-04           KHN                1           TOP
2  37299    2018-01           KHK                1           TOP
3  39997    2018-01           KAT                1  PARTICULARES
4  44012    2018-01           KHL                1  PARTICULARES

Juntamos actividad_com_clean con sociodemo, ya que comparten la PK CID

In [ ]:
actividad_com_clean.head(1)

     cid entry_date entry_channel  active_customer       segment
0  33620    2018-04           KHK                1  PARTICULARES

In [ ]:
sociodemo_clean.head(1)

     cid month_sale country_id gender  age deceased
4  44012    2018-02         ES      V   42        N

SEGUNDA TABLA DE DIMENSIONES

In [ ]:
# Obtenemos nueva tabla uniendo sociodemo_clean y actividad_com_clean, esta será nuestra segunda tabla de dimensiones.
sociodemo_actividad= pd.merge(left=sociodemo_clean, right=actividad_com_clean,how='left', on=['cid'])

In [ ]:
sociodemo_actividad.head()

,cid,month_sale,country_id,gender,age,deceased,entry_date,entry_channel,active_customer,segment
0,44012,2018-02,ES,V,42,N,2018-01,KHL,1,PARTICULARES
1,221716,2018-10,ES,H,41,N,2018-10,KAS,1,PARTICULARES
2,245679,2018-06,ES,H,66,N,2018-06,KFA,1,PARTICULARES
3,272864,2018-06,ES,H,50,N,2018-05,KAT,1,TOP
4,336613,2018-03,ES,V,32,N,2018-03,KHK,0,PARTICULARES

In [ ]:
sociodemo_actividad.drop(['country_id'],axis=1,inplace=True)

In [ ]:
sociodemo_actividad.shape

(152754, 9)

In [ ]:
sociodemo_actividad.cid.nunique()

152754

In [ ]:
column_report(sociodemo_actividad)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
cid,int64,0,0.0,152754.0,NaN,NaN,NaN,1376954.423138,170235.594932,15891.0,1336403.0,1426346.0,1481047.75,1553571.0
age,int64,0,0.0,152754.0,NaN,NaN,NaN,32.024981,13.486156,2.0,21.0,28.0,39.0,102.0
active_customer,int64,0,0.0,152754.0,NaN,NaN,NaN,0.714371,0.451715,0.0,0.0,1.0,1.0,1.0
month_sale,object,0,0.0,152754,16,2018-10,21442,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,object,0,0.0,152754,2,V,79724,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deceased,object,0,0.0,152754,2,N,152736,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entry_date,object,0,0.0,152754,53,2018-09,18818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entry_channel,object,0,0.0,152754,46,UNKNOW,63665,NaN,NaN,NaN,NaN,NaN,NaN,NaN
segment,object,0,0.0,152754,3,PARTICULARES,119150,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TERCERA TABLA DE DIMENSIONES

In [ ]:
# Tercera tabla de dimensiones
dicc_productos.head(15)

    product_ID        product_desc family_product
0         4657           em_acount        account
1         3819          debit_card   payment_card
2         1364        pension_plan   pension_plan
3         2234             payroll        account
4         2235     payroll_account        account
5         8871         emc_account        account
6         2312         credit_card   payment_card
7         2335  short_term_deposit     investment
8         2336   long_term_deposit     investment
9         2673          securities     investment
10        1119               funds     investment
11        9001               loans           loan
12        4033            mortgage           loan

In [ ]:
dicc_productos.columns = dicc_productos.columns.str.lower()

In [ ]:
column_report(dicc_productos)

,dtype,nulls,%nulls,count,unique,top,freq,mean,std,min,25%,50%,75%,max
product_id,int64,0,0.0,13.0,NaN,NaN,NaN,3614.538462,2564.251438,1119.0,2235.0,2336.0,4033.0,9001.0
product_desc,object,0,0.0,13,13,em_acount,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
family_product,object,0,0.0,13,5,account,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Pasamos la tablas CSV

In [ ]:
ventas_new.to_csv('ventas_new.csv', index=False)
products_clean.to_csv('products_clean.csv', index=False)
sociodemo_actividad.to_csv('sociodemo_actividad.csv', index=False)
dicc_productos.to_csv('dicc_productos.csv', index=False)

In [ ]:
from google.colab import files
files.download('ventas_new.csv')
files.download('products_clean.csv')
files.download('sociodemo_actividad.csv')
files.download('dicc_productos.csv')

A PARTIR DE AQUÍ YA TENEMOS LAS TABLAS PREPARADAS PARA PASARLAS A POWER BI.